$primary-color: crimson;
$secondary-color: #333;
$font-color: hsl(0, 0%, 89%);
$background-color: hsl(245, 10%, 11%);
$footer-color: hsl(245, 10%, 16%);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: $background-color;
  color: $font-color;
  font-family: "Quicksand", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 3.2em;
    border-bottom: 2px solid $primary-color;
    .logo {
      color: $primary-color;
      font-size: 2em;
      width: 30%;
      text-align: center;
      line-height: 100%;
      cursor: pointer;
      a {
        color: inherit;
      }
    }
    button {
      background: $secondary-color;
      border: 1px solid $primary-color;
      padding: 0.2em 0.7em;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      display: block;
      transition: background 250ms ease-in-out;
      &:hover {
        background: $primary-color;
        border: 1px solid $font-color;
      }
    }
    ul {
      width: 70%;
      list-style: none;
      font-size: 1.2em;
      letter-spacing: 0.4px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      * {
        text-decoration: none;
        color: inherit;
        font-weight: 800;
        position: relative;
        overflow: hidden;
        line-height: 2em;
        &::before {
          content: "";
          position: absolute;
          border-bottom: $primary-color 2px solid;
          width: 100%;
          height: 1px;
          top: 100%;
          transform: translate(0, -50%);
          transform: translateX(105%);
          transition: transform 250ms ease-in;
        }
        &:hover::before {
          transform: translateX(0);
        }
      }
    }
  }
  .login {
    form {
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      input {
        margin: 0.5em 0;
        width: 10em;
        padding: 0.2em 0.5em;
        outline: crimson 1px solid;
        font-size: 1.4em;
        border: none;
        background-color: transparent;
        color: $font-color;
      }
      button {
        @extend input;
        cursor: pointer;
        border: none;
        color: $font-color;
        &:hover {
          outline: $font-color 1px solid;
          color: $font-color;
          background-color: $primary-color;
        }
      }
    }
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: $footer-color;
    color: white;
    text-align: center;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }
  .register {
    .input {
      margin: 0.7em 0;
      font-size: 1.4em;
      label {
        display: table-cell;
      }
      input {
        font-size: 1.2rem;
        display: table-cell;
        padding: 0.3rem 0.6rem;
        border: none;
        outline: 1px solid $primary-color;
        background-color: transparent;
        color: $font-color;
      }
    }
    button {
      color: $font-color;
      width: 100%;
      font-size: 1.2rem;
      padding: 0.3rem 0.6rem;
      border: 1px solid $primary-color;
      cursor: pointer;
      background: transparent;
      font-weight: 600;
      &:hover {
        outline: $font-color 1px solid;
        color: white;
        background: $primary-color;
      }
    }
  }
  .spinner-container {
    position: relative;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    .spinner {
      background: $primary-color;
      height: 2em;
      width: 10px;
      border-radius: 100vw;
      animation: spin 250ms infinite;
    }
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
