$primary-color: crimson;
$secondary-color: #333;
$font-color: hsl(0, 0%, 89%);
$background-color: hsl(245, 10%, 11%);
$footer-color: hsl(245, 10%, 16%);

*,
*::before,
*::after {
  $background-color: hsl(245, 10%, 11%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background: $background-color;
  color: $font-color;
  font-family: "Quicksand", sans-serif;
  padding: 5em 0 2em 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    width: 100vw;
    height: 3.2em;
    border-bottom: 2px solid $primary-color;
    background-color: $background-color;
  }
  .logo {
    color: $primary-color;
    font-size: 2em;
    width: 65%;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
    a {
      color: inherit;
      text-decoration: none;
      display: flex;
      line-height: 100%;
      text-align: center;
      vertical-align: middle;
      transition: opacity 250ms ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .logout-btn {
    background: transparent;
    border: 1px solid $primary-color;
    color: $font-color;
    padding: 0.2em 0.4em;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    transition: background 250ms ease-in-out;
    &:hover {
      background: $primary-color;
      border: 1px solid $font-color;
    }
  }
  ul {
    width: 35%;
    list-style: none;
    font-size: 1.2em;
    letter-spacing: 0.4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
      text-decoration: none;
      color: inherit;
      font-weight: 800;
      position: relative;
      overflow: hidden;
      line-height: 100%;
      text-align: center;
      vertical-align: middle;
      transition: opacity 250ms ease-in-out;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.login {
  form {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    input {
      margin: 0.5em 0;
      width: 10em;
      padding: 0.2em 0.5em;
      outline: crimson 1px solid;
      font-size: 1.4em;
      border: none;
      background-color: transparent;
      color: $font-color;
    }
    .submit-btn {
      @extend input;
      cursor: pointer;
      border: none;
      color: $font-color;
      &:hover {
        outline: $font-color 1px solid;
        color: $font-color;
        background-color: $primary-color;
      }
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: $footer-color;
  color: white;
  text-align: center;
  height: 2em;
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.register {
  .input {
    margin: 0.7em 0;
    font-size: 1.4em;
    label {
      display: table-cell;
    }
    input {
      font-size: 1.2rem;
      display: table-cell;
      padding: 0.3rem 0.6rem;
      border: none;
      outline: 1px solid $primary-color;
      background-color: transparent;
      color: $font-color;
    }
  }
  .submit-btn {
    font-size: 1.2rem;
    display: table-cell;
    padding: 0.3rem 0.6rem;
    border: none;
    outline: 1px solid $primary-color;
    background-color: transparent;
    color: $font-color;
    cursor: pointer;
    border: none;
    color: $font-color;
    width: 100%;
    margin-top: 0.3em;
    &:hover {
      outline: $font-color 1px solid;
      color: $font-color;
      background-color: $primary-color;
    }
  }
}
.spinner-container {
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0;
  justify-content: center;
  background-color: $background-color;
  .spinner {
    position: relative;
    display: block;
    background: $primary-color;
    height: 2.5em;
    width: 2.5em;
    background-color: transparent;
    border: 0.5em solid $primary-color;
    border-radius: 50%;
    animation: spin 350ms infinite;
    &::before {
      content: "";
      display: block;
      width: 0.5em;
      height: 3em;
      background: $background-color;
      top: 0;
      left: 0;
      transform: translate(100%, -25%);
    }
  }
}
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  .form-container {
    display: flex;
    justify-content: center;
    gap: 2.5em;
    padding: 0.6em 2em;
  }
  .detail-container {
    height: max-content;
    width: 80vw;
    .close {
      position: absolute;
      top: 0.4em;
      right: 0.8em;
      font-size: 2em;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    background: $footer-color;
    display: flex;
    margin: 5em;
    border: 1px solid $font-color;
    border-radius: 10px;
    .details {
      width: 60%;
      height: 100%;
      .amount {
        color: #50eb57;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $background-color;
        border-radius: 0 0 10px 10px;
        .neg-amount {
          color: red;
        }
        span {
          color: $font-color;
        }
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        height: max-content;
        input[type="number"] {
          padding: 0.4em 0.1em;
          width: 60%;
          outline: 1px solid $primary-color;
          font-size: 0.85em;
          margin-bottom: 0.6em;
          background-color: transparent;
          border: none;
          color: $font-color;
        }
      }
    }
  }
  .show-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15em;
    background: $background-color;
    color: $font-color;
    border: none;
    cursor: pointer;
    height: 2em;
    font-size: 1.05em;
    text-align: center;
    line-height: 100%;
    margin: 0 auto;
    border-bottom: 1px solid $primary-color;
    transition: opacity 150ms ease-in-out;
    padding: 0 0.2em;
    &:hover {
      opacity: 0.7;
    }
  }
  form {
    .form-control {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5em 0;
      label {
        font-size: 1.2em;
        letter-spacing: 1px;
        margin: 0.2em auto;
      }
      input {
        width: 15em;
        outline: 1px solid $primary-color;
        background: transparent;
        border: none;
        color: $font-color;
        padding: 0.4em 0.3em;
      }
    }
    button {
      width: 15em;
      outline: 1px solid $primary-color;
      background: transparent;
      border: none;
      color: $font-color;
      font-size: 1;
      padding: 0.4em 0.3em;
      display: block;
      margin: 0 auto;
      margin-top: 1.3em;
      cursor: pointer;
      transition: all 250ms ease-in-out;
      &:hover {
        background: $primary-color;
        outline: 1px solid $font-color;
      }
    }
  }
}
.single-cat-container {
  display: flex;
  border: 1px solid $primary-color;
  align-items: center;
  border-radius: 5px;
  justify-content: space-between;
  width: 15em;
  padding: 1em;
  background: $footer-color;
  .single-cat {
    h1 {
      letter-spacing: 1px;
      font-weight: 800;
      color: $primary-color;
    }
    h3 {
      font-weight: 400;
      span {
        color: #50eb57;
      }
    }
    p {
      font-weight: 300;
      font-size: 0.8em;
    }
  }
  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .icon-btn {
      background-color: transparent;
      color: $font-color;
      border: none;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    .edit-btn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.cats {
  padding: 2em 4em;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.welcome {
  padding-left: 4em;
  margin-bottom: 1.5em;
  .username,
  .number {
    color: $primary-color;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(72deg);
  }
  40% {
    transform: rotate(144deg);
  }
  60% {
    transform: rotate(216deg);
  }
  80% {
    transform: rotate(288deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 500px) {
  body {
    overflow-x: hidden;
    header {
      font-size: 0.7em;
      width: 100vw;
      ul {
        width: 65%;
      }
    }
    .welcome {
      padding-left: 1em;
    }
    .dashboard {
      .cats {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
        .single-cat-container {
          padding: 0.2em 0.8em;
          width: 75%;
        }
      }
    }
  }
}
